html {
  padding: 3%;
}

table, form {
  max-width: 100%;
  table-layout: fixed;
  max-width: 800px;
}
table {
  font-size: 7px;
}

select {
  max-width: 500px;
  margin-right: 25px;
}

h2 {
  margin-top: 0;
}
h3 {
  margin-bottom: 0;
}

input[type="submit"],
input[type="button"] {
  margin-left: 10px;
  max-width: 160px;
  width: 30%;
}

input[type="button"] {
  background-color: gray;
}

input[type="submit"].edit {
  background-color: indianred;
}

@media  screen and (width >= 700px) {
  table {
    font-size: 14px;
  }
}